.home{
    min-width: 100%;
    min-height: 100vh;
    border: 2px solid lawngreen;

    h1{
        background-color: white;
    }
}
.home2{
    min-width: 100%;
    min-height: 100vh;
    border: 2px solid lawngreen;

    h1{
        background-color: white;
    }
    background-color: red;
    color: red;
}